.WeatherApp {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 20px auto 0;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}
.WeatherApp ul {
  list-style: none;
}
#cityName {
  font-size: 24px;
  font-weight: bold;
}

#actualDegree {
  font-size: 24px;
  font-weight: bold;
}
#description {
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 20px;
}
#humidity,
#wind {
  font-size: 16px;
}
.WeatherApp {
  margin: 30px auto;
  padding: 20px;
  max-width: 80%;
  border: 1px solid rgb(82, 4, 74);
  border-radius: 10px;
  max-width: 80%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}
